
/* The following "h1" and "p" styles taken from old html: */
/* unvisited link  */
  a:link { color: #0000ff }
/* visited link  */
  a:visited { color: #800080 }
/* active link  */
  a:active { color: #ee0000 }
h1 {
    color: black;
    text-align: left;
    font-size: 30px;
}
p {
    color: black;
    text-align: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
}
/* End */

body {
  margin: 10px 8px;
/* none repeat scroll 0% 50%; */
  font-family: 'Helvetica','Arial','sans-serif';
  font-stretch: normal;
/* For Light background with Black font. */
   color: #000000;
   background-color: rgb(250,250,255);
   direction: ltr;  
/* Other */
  font-size: 1.0em;
  font-size-adjust: none;
  letter-spacing: 0.5px;
  font-variant: normal;
  font-weight: normal;
 /* text-align: center; */
  font-style: normal;
  line-height: normal;
}

/* Use an "id" for a table for grades */
#mygrades {
    font-family: Arial, Helvetica, sans-serif;
  /*  width: 100%; */
     border-collapse: collapse;
}
#mygrades td, #grades th {  /* header and normal columns */
  /*  font-size: 1em; */
    border: 2px solid ;
    padding: 5px 15px 5px 15px; /*Top Right Bot Left */
    text-align: center;
}
#mygrades tr.reg {
    font-size: 1.0em;
    background-color: rgb(255,255,235) ;
   }
#mygrades tr.grey {
    background-color: rgb(215, 215, 215);   /* grey for breaks */
    font-size: 0.9em;
    font-weight: bold;
   }


/* Use an "id" for a table for schedules. */
#mysched {
    font-family: Arial, Helvetica, sans-serif;
  /*  width: 100%; */
     border-collapse: collapse;
}
#mysched td, #mysched th {  /* header and normal columns */
  /*  font-size: 1em; */
    border: 2px solid ;
    padding: 5px 6px 5px 6px; /*Top Right Bot Left */
    text-align: center;
}
#mysched th {        /* header columns */
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    width: 150px;
   }
#mysched tr.reg {
    font-size: 0.9em;
    background-color: rgb(255,255,235) ;
   }
#mysched tr.bold {
    background-color: rgb(195,163,195);   /* purple */
    font-size: 1.0em;
    font-weight: bold;
   }
#mysched tr.break {
    background-color: rgb(215, 215, 215);   /* grey for breaks */
    font-size: 0.8em;
    font-weight: bold;
   }
#mysched td.time {
    width: 70px;
   }
#mysched td.cred {
    background-color: rgb(180,40,40);
   }
#mysched td.cgold {
    background-color: rgb(220,170,0);
   }
#mysched td.cgreyr {
    background-color: rgb(170,150,150);
   }
#mysched td.cgrey {
    background-color: rgb(170,170,170);
   }
#mysched td.clab {
    background-color: rgb(51, 153, 153);
   }
#mysched td.clab2 {
    background-color: rgb(41, 103, 143);
   }

