/* Style for Astro pages, public events */
body {
    font-family: Arial, Helvetica, sans-serif;
   /* color: rgb(255,255,180);   remove for printer-friendly version */
}

h1 {
   text-align: center;
}
h2 {
   text-align: center;
   margin: 10px;
}

/* Use an "id" for a table */
#mytab {
    width: 90%; 
/*  border-collapse: collapse; */
    text-align: center;
    font-size: 1.1em;
    border: 4px solid ;
}
#mytab td, #mytab th {  /* header and normal columns */
  /*  font-size: 1em; */
  /*  padding: 6px 5px 6px 5px; /* Top Right Bot Left */
    padding: 14px 12px 14px 32px; 
    text-align: left;
}
#mytab th {        /* header columns */
    padding-top: 5px;
    padding-bottom: 4px;
    width: 140px;
   }

/* Use an "id" for a block quote div */

#mynote {
   color: rgb(163,114,66);  /* Light brown */
   font-size: 0.9em;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
}
#footnote {
   color: rgb(102,51,0);  /* Dark brown */
   font-size: 0.9em;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 15px;
   padding-bottom: 3px;
}
